TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2MWRmYTRiNDJjODVjMWMxMmU4MzJhZGU1M2E4NmQzNSIsIm5iZiI6MTczNzA0NTMzOS4wMDMsInN1YiI6IjY3ODkzNTVhOTQ3YjE5Zjc4Yjk3OTQzYSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.MUmvucjz5V5ivSv9xlbRWh7rVzAsSjHtrVc_Ps_WBgg
MONGO_URI=mongodb+srv://21010625:dszJ9qXJqWlzH5n7@moviemanagement.l4udz.mongodb.net/?retryWrites=true&w=majority&appName=MovieManagement
